@media screen and (max-width: 768px) {
      .lnmiit_logo {
          -webkit-transform: translate(105%, 20%);
          -moz-transform: translate(105%, 20%);
          -ms-transform: translate(105%, 20%);
          -o-transform: translate(105%, 20%);
          transform: translate(105%, 20%);
          margin-top: 0;
          padding-bottom: 10px;
          max-width: 90px; 
      }
      .lab_logo{
          -webkit-transform: translate(15%, 25%);
          -moz-transform: translate(15%, 25%);
          -ms-transform: translate(15%, 25%);
          -o-transform: translate(15%, 25%);
          transform: translate(15%, 25%);
          max-width: 85px;
      }
      #site_title{
          padding-top: 20px;
          color: white;
          font-size: 20px;
          }
        #title_desc{
            font-size: 10px;
            font-family: courier;
            margin-top: -7px;
            color: white;
          }
      .tab-content{border:none;
          padding-left: 0px;
          padding-right: 0px;
        }
      #top_bar{background-color : #01478C;height: 200px;}
      ul.dropdown-menu li a{margin: 10px;}

      .card{border:1px solid grey;padding: 2px;height: 40vh;}

}
