body {
    background-color: #b8f4fe; 
    margin: 0;
}

/*----LAB LOGO---*/
.lab_logo{
    max-width: 80px;
    max-height: 80px;
    margin-top:35%;
    margin-right: -20px;
  }
.lnmiit_logo{
  margin-top: 22%;
}

/*---TOP BAR---*/
#top_bar{
    background-color : #01478C;
    height: 130px;
    border-bottom : 3px solid #566573;
    margin-bottom: -1px;
  }

/*---HEADER--*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;    
    width: 100%;
    background-color: #272727;
    font-size: 13px;
}
.navbar li a {
    display: block;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    
}
.navbar li.active {
    background-color: #E56F1B;/*--orange--*/
    color: white;
    text-decoration: none;

}
.navbar li a:hover:not(.active) {
    background-color: #D6DBDF;/*light grey*/
    color: #2D2E40;
    text-decoration: none;
}

/*---NAV TABS ---*/
.nav-tabs{padding-top: 10px;}
.nav-tabs li a{color: grey;}

/*---TAB CONTENT---*/
.tab-content{
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 2px;
    border: 1px solid lightgrey ;
    border-radius: 12px;
  }

h3{font-family: courier;color: #1E79B6;}/* exp heading */
h4{font-family: courier;}
.lab_heading h3{padding-top: 18px;color: white;}
.lab_heading p{
    font-size: 13px;
    font-family: courier;
    margin-top: -5px;
    color: white;
  }

.myslides{
    width: 750px;
    margin-top: 10px;
    margin-left: 0.5px;
}

#content img {
  float: left;
}

.about_content{
    align-content: middle;
    color: blue;
    font-family: monospace;
    font-size: 30px;
    top-margin: 30px;
    font-style: italic;
}
.physics_lab_information{
    color:black;
    font-size: 20px;
    font-style: italic;
    font-family: monospace;
}