/*body {
    background-color: #D3D3D3; 
}*/

body {margin: 0;}

/*----LAB LOGO---*/
.lab_logo{
    max-width: 65px;
    max-height: 65px;
    margin-top:14%;
  }

/*---HEADER--*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #333;
    font-size: 15px;
}

.navbar li a {
    display: block;
    color: white;
    padding: 14px 35px;
    text-decoration: none;
    
}

.navbar li.active {
    background-color: #D2691E;/*--orange--*/
    color: white;
    text-decoration: none;

}

.navbar li a:hover:not(.active) {
    background-color: #D6DBDF;/*light grey*/
    color: #2D2E40;
    text-decoration: none;
}







