body {
    background-color: #E7E7E7;/*#FBFCFC;*/ 
    margin: 0;
}

/*----LAB LOGO---*/
.lab_logo{
    max-width: 80px;
    max-height: 80px;
    margin-top:35%;
    margin-right: -20px;
  }
.lnmiit_logo{
    margin-top: 22%;
}

/*---TOP BAR---*/
#top_bar{
    background-color : #01478C;
    height: 130px;
    border-bottom : 1px solid #E56F1B;
    margin-bottom: -1px;
  }
#site_title{
    padding-top: 28px;
    color: white;
    font-size: 29px;
  }
#title_desc{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -7px;
    color: #E7E7E7;
  }

/*---HEADER--*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10.4%;    
    width: 100%;
    background-color: #272727;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar li a {
    display: block;
    color: white;
    padding: 12px 22px;
    text-decoration: none;
}
.navbar li.active {
    background-color: #E56F1B;/*--orange--*/
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.navbar li a:hover:not(.active) {
    background-color: #D6DBDF;/*light grey*/
    color: #2D2E40;
    text-decoration: none;
}
ul.dropdown-menu{font-size: 13px;padding-left: 0;}
#facilities ul.dropdown-menu{width:200%;}
#experiments ul.dropdown-menu{width:262%;}

/*---NAV TABS ---*/
.nav-tabs{padding-top: 10px;}
.nav-tabs li a{color: grey;}

/*---TAB CONTENT---*/
.tab-content{
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 2px;
    border: 1px solid lightgrey ;
    border-radius: 12px;
  }
h3{font-family: Arial, Helvetica, sans-serif;color: #1E79B6;}/*--exp heading--*/
h4{font-family: Arial, Helvetica, sans-serif;}/*--exp sub-heading--*/

/*---HOVERABLE SIDENAV---*/
#mySidenav a {
  position: fixed;
  left: -90px;
  transition: 0.3s;
  padding: 9px;
  margin-top: 35vh;
  width: 130px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  border-radius: 0 5px 5px 0;
  border: 1px solid black;
}

#mySidenav a:hover {
  left: 0;
}

#face {
  top: 20px;
  /*background-color: #3b5998;*/
}

#twit {
  top: 70px;
  /*background-color: #1da1f2;*/
}

#yout{
  top: 120px;
  /*background-color: #ff0000;*/
}

#inst {
  top: 170px;
  /*background-color: #fb3958;*/
}

#link {
  top: 220px;
  /*background-color: #007bb5;*/
}


        

/*---MID SECTION--*/
/* Make the image fully responsive */

#myCarousel{
  width: 100%;
  max-width: 382px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}
/*---home sub titles---*/
#sub_title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  color: #005AB3;
  transform: scale(.65,.9);
  transform-origin: 0 0;
}
#sub_title_text{
  text-align: justify;
  color: #5c5c5c;
  font-size: 14px;
}
/*----horizontal line---*/
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    color: blue; 
}
/*----vertical line---*/
.vr {
    width:1px;
    background-color:#ccc;
    position:absolute;
    top:0;
    bottom:0;
    right:0px;
}
/*---GOOGLE MAP---*/
#map{
  border: 1px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}
.vertical-menu {
    width: 100%; /* Set a width */
}

.vertical-menu a {
    background-color: #01478C; /* top-bar blue background color */
    color: white; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    border-bottom: 1px solid white;
}

.vertical-menu a:hover {
    background-color: #01478C; /* top-bar blue background color */
    color: white;
    font-size: 15px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vertical-menu a.active {
    background-color: #1E8449; /* Add a blue shade to the "active/current" link */
    color: white;
}

/*----FACILITIES PAGE---*/
#facilities_text{text-align: justify;}

/*---FACULTY PAGE----*/
.card{border:.1px solid grey;padding-top: 2px;height: 21vh;font-size: 12px;}
.card img{
  max-width: 20vh;
  max-height: 20vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

/*----FOOTER----*/
.footer{
   left: 0;
   bottom: 0;
   padding-top: 15px;
   background-color: #191919;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}
.footer a{text-decoration: none;}
.fa {
  padding: 2px;
  font-size: 40px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 7px;
  background: #5D5D5D;
  color: #191919;
  border-radius: 12%;
}
.fa-facebook:hover{
  background: #3B5998;
  color: white;
}

.fa-twitter:hover{
  background: #55ACEE;
  color: white;
}
.fa-linkedin:hover{
  background: #007bb5;
  color: white;
}
.fa-youtube:hover{
  background: #bb0000;
  color: white;
}
.fa-instagram:hover{
  background: #125688;
  color: white;
}
#imp_links a{
  text-decoration: none;
  color: grey;
  font-size: 13px;
  margin: 0 10px;
}
#imp_links a:hover{color:lightgrey;}
#imp_links{color: darkgrey;}/*--separation bar---*/
#copyright{
  font-size: 12px;
  color: #5D5D5D;
}
#developer{
  font-size: 10px;
  color: #5D5D5D; 
  margin-top: -10px;
}

/****** Footer LUSIP Team ******/
.thumbnail img{
  width: 100%;
  height: 23vh;
}
.caption{
  color: black;
  font-size: 13px;
}
.caption .fa{
  background-color: blue;
  font-size: 17px;
  padding: 3px;
  margin: 0px;
}

.caption .fa-github {
  background: black;
  color: white;
}

.caption .fa-linkedin {
  background: #007bb5;
  color: white;
}

.caption .fa-facebook {
  background: #3B5998;
  color: white;
}

.caption .fa-twitter {
  background: #55ACEE;
  color: white;
}

.caption .fa-instagram {
  background: #125688;
  color: white;
}

/*---SCROLL TO TOP-----*/
#scroll_btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: grey;
  opacity:0.7;
  color: white;
  cursor: pointer;
  padding: 15px;
  padding-bottom:8px;
  border-radius: 4px;
}
#scroll_btn:hover {
  background-color: #555;
}

/*----VIVA VOCE---*/
#menu4{
  margin-left: 40px;
}
#menu4 p{
  margin-top: 2em;
  font-size: 17px;

}
#button{
  margin-left: 80px;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  border-radius: 9px;
  background-color: #01478C;
  font-family: Arial, Helvetica, sans-serif New;
  color:#ffffff;
}

#button1{
   
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  border-radius: 9px;
  background-color: #01478C;
  font-family: Arial, Helvetica, sans-serif New;
  color:#ffffff;
}

#button:hover{
  font-family:Arial, Helvetica, sans-serif;
  background-color: #424242;
  color: #ffffff;
  transition: 0.9s;
}
 #button1:hover{
  font-family:Arial, Helvetica, sans-serif;
  background-color: #424242;
  color: #ffffff;
  transition: 0.9s;
}
#menu4 #quiz_heading{

  font-size: 40px;
  font-family: Comic Sans MS;
  margin-top: 10px;
  text-align: center;
}



/*----home video----*/
#home_video{
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}
/*----More Videos button ---*/
#btn2 {
    background-color: #01478C;
    border: none;
    border-radius: 7px;
    color: white;
    padding: 7px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    width: 100%;
    
}
#btn2:hover{
    background-color: #01478C; /* Dark grey background on mouse-over */
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

input[type=radio] {
  -ms-transform: scale(1.7); /* IE 9 */
  -webkit-transform: scale(1.7); /* Chrome, Safari, Opera */
  transform: scale(1.7);
  margin-right: 8px;
}

input[type='radio']:checked + label{
  color: #f70c47;
}

#answer1, #answer2, #answer3, #answer4, #answer5, #answer6, #answer7, #answer8{
  font-family: Impact;
  background: #e81e24;
  font-size: 16px;
  padding-left: 15px;
  width: 200px;
  color:#0c0c0c;
  font-weight: 5;
} 

/*  experiment apprartus  */

.facility-img{
    height: 220px;
    width: 220px;
    display: inline-block;
    margin-top:15px;
    padding-top: 8px;
    margin-bottom: 15px;
    padding-bottom: 8px;
    margin-left: 20px;
    padding-left: 10px;
    margin-right:30px;
    padding-right: 20px;
    border:10px;
}

.facility-text{
  display: flex;
  list-style: none;
}

#ft1{
  margin-left:30px;
  padding-left:10px;
  margin-right:20px;
  padding-right: 10px;
}

#ft2{
  margin-left:80px;
  padding-left: 50px;
  margin-right: 80px;
  padding-right: 40px;
}

#ft3{
  margin-left: 85px;
  margin-right: 65px;
}

/*-----TIME TABLE-------*/

/*---Time Table on Home----*/
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  font-weight: 200;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #01478C;
  color: white;
}